<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script src="./dist/vue.js"></script> -->
    <script type="text/x-template" id="my-test">
      <button v-if="flag"> 子组件测试 </button>
      <div v-else>test</div>
    </script>
  </head>
  <body>
    <div id="app">
      <!-- msg -->
      <!-- {{retMsg}} -->
      <span>父组件</span>
      <button @click="clkProcess">修改</button>
      <my-test
        ref="childRef"
        :arr="arr"
        :flag="flag"
        @on-click="clkProcess"
      ></my-test>
      <!-- <async-btn @on-click='clkProcess'></async-btn> -->
    </div>
    <script src="./dist/vue.js"></script>
    <script type="module">
      // 注册全局组件
      Vue.component("my-test", {
        template: "#my-test",
        props: ["flag", "arr"],
        data() {
          return {
            id: 3,
          };
        },
        beforeCreate() {
          console.log("child before create");
        },
        created() {
          console.log("child created");
        },
        beforeMount() {
          console.log("child beforeMount");
        },
        mounted() {
          console.log("child mounted");
        },
        beforeUpdate() {
          console.log("child beforeUpdate");
        },
        updated() {
          console.log("child updated");
        },
        beforeDestroy() {
          console.log("child before destroy");
        },
        destroyed() {
          console.log("child destroyed");
        },
      });
      // 注册异步组件
      // Vue.component("async-btn", function (resolve, reject) {
      //   setTimeout(() => {
      //     resolve({
      //       template:'<div>I am async!</div>'
      //     })
      //   }, 2000);
      // });

      const vm = new Vue({
        el: "#app",
        template: `<ul :class="bindCls" class="list" v-if="isShow">
    <li v-for="(item,index) in arr" @click="clickItem(index)">{{item}}:{{index}}</li>
</ul>`,
        data() {
          return {
            bindCls:'test',
            isShow:true,
            
            // msg: "hello vue",
            // comMsg: "hello computed",
            // arr: [1, 2],
            // a: {
            //   b: 1,
            // },
            flag: true,
            arr: [1, 2, 3],
          };
        },
        watch: {
          // msg(val) {
          //   console.log("msg", val);
          // },
          // arr: {
          //   handler(val) {
          //     console.log("arr:", val);
          //   },
          //   // deep: true,
          //   immediate: true,
          // },
          // a: {
          //   handler(val) {
          //     console.log("a:", val);
          //   },
          //   deep: true,
          // },
        },
        // computed:{
        //   retMsg(){
        //     return this.comMsg
        //   }
        // },
        beforeCreate() {
          console.log("parent beforeCreate");
        },
        created() {
          console.log("parent created");
        },
        beforeMount() {
          console.log("parent beforeMount");
        },
        mounted() {
          console.log("parent mounted");
        },
        beforeUpdate() {
          console.log("parent beforeUpdate");
        },
        updated() {
          console.log("parent updated");
        },
        beforeDestroy() {
          console.log("parent before destroy");
        },
        destroyed() {
          console.log("parent destroyed");
        },
        methods: {
          clkProcess() {
            this.flag = false;
            // this.msg = "hi";
            // this.arr.push(3);
            // this.a.b = 4;
            // this.$set(this.a, "b", 4);
          },
          clickItem(){
            console.log('hhh')
          }
        },
      });
      window.vm = vm;
    </script>
  </body>
</html>
